<footer class="page-footer purply">
  <div class="container ">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Proofy</h5>
        <p class="grey-text text-lighten-4">This simple web application makes it easy to post a card.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Find Me</h5>
        <ul>
          <li><a target=" " class="grey-text text-lighten-4" href="https://github.com/liliumcwu/project_02_crud_app">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Lily Wu
    </div>
  </div>
</footer>
