<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey lighten-1">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down nav-buttons-right">
          <li><a href="/">Home</a><li>
          <li><a href="/cards">Cards</a></li>
          {{!-- <li><a href="/auth/login">Log in</a></li> --}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/cards">Cards</a></li>
          {{!-- <li><a href="/auth/login">Log in</a></li> --}}
        </ul>
      </div>
    </nav>
  </div>
</header>
