<main>
    <div class="form-wrap">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s9">
              <input id="card-question" type="text">
              <label for="card-question">Add a question (Ex: What is the value of pi?)</label>
            </div>
            <div class="input-field col s3">
              <input id="card-ans" type="text">
              <label for="card-ans">Write answer (Ex:3.14159)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <input id="wrong-1" type="text">
              <label for="wrong-1">Write wrong answer #1 (Ex:1.77245)</label>
            </div>
            <div class="input-field col s3">
              <input id="wrong-2" type="text">
              <label for="wrong-2">Write wrong answer #2</label>
            </div>
            <div class="input-field col s3">
              <input id="wrong-3" type="text">
              <label for="wrong-3">Write wrong answer #3</label>
            </div>
          </div>
        </form>
        <button class="waves-effect blue-grey darken-2 waves-light btn" id="index-submit-button">Submit</button>
      </div>
      {{!-- <div class="row">
        <div class="input-field col s3">
          <input id="wrong-a" type="text">
          <label for="wrong-a">Write wrong answer #1 (Ex:1.77245)</label>
        </div>
        <div class="input-field col s3">
          <input id="wrong-b" type="text">
          <label for="wrong-b">Write wrong answer #2</label>
        </div>
        <div class="input-field col s3">
          <input id="wrong-c" type="text">
          <label for="wrong-c">Write wrong answer #3</label>
        </div>
      </div> --}}
{{!--       <button class="waves-effect blue-grey darken-2 waves-light btn" id="submit-button">Submit</button>
 --}}    </div>
</main>
